<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".cards_tools.naruto_uzumaki.ninjutsus_1_star.Itskindalikebam"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ninjutsus_3_star.AThousandYearsofDeath"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ninjutsus_3_star.AWarmHand"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ninjutsus_4_star.LetterinHisHeart"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ninjutsus_4_star.BecauseThatsWhoNarutoIs"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ninjutsus_4_star.HaremJutsu"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ninjutsus_4_star.BecauseYoureMeToo"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ultimate_jutsus_5_star.ARampagingPower"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ultimate_jutsus_5_star.TheFinalGamble"
            android:exported="false" />
        <activity
            android:name=".cards_tools.naruto_uzumaki.ultimate_jutsus_5_star.NarutovsPain"
            android:exported="false" />
        <activity
            android:name=".characters.NarutoUzumaki"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>